@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
/* - Family: [Kumbh Sans](https://fonts.google.com/specimen/Kumbh+Sans)
font-family: 'Kumbh Sans', sans-serif; - Weights: 400, 700 */

/* 
### Primary Colors:
Dark cyan: hsl(185, 75%, 39%)
Very dark desaturated blue: hsl(229, 23%, 23%)
Dark grayish blue: hsl(227, 10%, 46%)

### Neutral Color
Dark gray: hsl(0, 0%, 59%)

## Typography
### Body Copy - Font size (name and stats): 18px
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  background-color: hsl(185, 75%, 39%);
  /* background-image: url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg); */
  /* background-repeat: no-repeat; */
  /* background-position: right top, left bottom; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  width: 325px;
  margin: auto;
  background-color: white;
  border-radius: 10px;
}

header {
  background-image: url(images/bg-pattern-card.svg);
  background-size: cover auto;
  height: 140px;
  border-radius: 10px 10px 0 0;
}






footer {
  width: 100%;
  text-align: center;
  padding: 5px;
}

.attribution p {
  font-size: 11px;
  text-align: center; 
  display: inline;
}

.attribution a {
  color: hsl(228, 45%, 44%); 
}